html {
    box-sizing: border-box;
}

*, ::after, ::before {
    box-sizing: inherit;
}

.body {
    margin: 0 auto;
    max-width: 600px;
    text-align: center;
    font-family: "Rubik", sans-serif;
    background-image: url("../images/background.bmp");
    background-size: cover;
    background-position: center;
}